html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}
.container{
    max-width: 1100px;
    padding: 0px 20px;
    margin: 0 auto;
}
.title{
    font-size: 60px;
    line-height: 58px;
    font-weight: 300;
    text-transform: uppercase;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
}
h2{
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 200px;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}
h3{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 45px;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffcccf;
}